# MONGO_URL=mongodb://localhost:27017/
# Live
APP_NAME=Fuel App - Server
MONGO_URL=mongodb+srv://tayeb2:ipwpdW4wJdnArOyj@cluster0.hluu9.mongodb.net/FuelDelivery_app?retryWrites=true&w=majority
BASE_URL=192.168.10.152
PORT=6005
SOCKET_PORT=9001
NODE_DEV=production
#NODE_DEV=development
BCRYPT_SALT_ROUNDS=12
JWT_SECRET='bdCalling-IT'
JWT_EXPIRES_IN=30d
JWT_REFRESH_SECRET='fghfy64786895703hfgjhjgh76867kfghfghfghfghfg4656hfghfghfgh'
JWT_REFRESH_EXPIRES_IN=365d

RESET_PASS_UI_LINK= http://localhost:3000/?
ACTIVATION_SECRET=346387678979809456

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SERVICE=gmail
smtp_mail=tayebrayhan101@gmail.com 
SMTP_PASSWORD=mdxkbqnzxrvwmxsv
SERVICE_NAME=Fuel App

# STRIPE_SECRET_KEY=sk_test_51PvZAIRv9ouTNUmHVqhzHT8sTNfDv85Gn5jKx01cmFMWtZ7F4EeBaUx0HhZkdAShEoK9gV7UvOWPQEEExmm5hV8H00habHIP1M

STRIPE_SECRET_KEY=sk_test_51Q69G2L8xn5o73J1VyQGm5n1BCnZ2U96tA0rzMRR8BUIZbIquNa8RucyyDJrJCjGgSwz1xuwZwyD9CPBFNBJOysF00fgBtMgy0
 